.root {
    -fx-padding: 5, 5, 5, 5;
    
    
}

#grid{
    -fx-font-family: Arial;
    -fx-font-size: 12;
    -fx-padding: 5,5,5,5;
    -fx-font-weight: bold;
    -fx-vgap: 5;
    -fx-hgap: 5;
    -fx-grid-lines-visible: false;
}

/*!*,.table-view.root,.table-view.indexed-cell*!*/
/*.table-view .cell{*/
/*    -fx-border-style: solid;*/
/*    -fx-border-color: gray;*/
/*    -fx-alignment: center-left;*/
/*    -fx-border-width: 0.1;*/

/*}*/
/*.table-view .column-header{*/
/*    -fx-background-color: lightgray;*/
/*}*/


#label1 {
    -fx-font-family: Arial;
    -fx-font-size: 12;
    -fx-padding: 5,5,5,5;
}
#label2{
    -fx-font-family: Arial;
    -fx-font-size: 12;
    -fx-padding: 5,5,5,5;
    -fx-fontweight: bold;
}

#title{
    -fx-font-family: Arial;
    -fx-font-size: 22;
    -fx-padding: 5,5,5,5;
    -fx-fontweight: bold;
}


