.root {
    -fx-padding: 20;
}

.buttonForm {
    -fx-alignment : baseline-right;
    -fx-spacing: 8;
}

.buttonForm2{
    -fx-alignment : baseline-left;
    -fx-spacing: 8;
}

.boxTabs{
    -fx-text-alignment: center
}

.formTitle{
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-padding: 10 0 20 0;
    -fx-text-fill: gray;
}


.formLabel {
    -fx-font-weight: bold;
    -fx-text-alignment: left;
    -fx-font-size: 13;
}

.formLabel2 {
    -fx-font-weight: normal;
    -fx-text-alignment: left;
    -fx-font-size: 12;
}


.errorLabel{
    -fx-text-fill: firebrick;
    -fx-font-size: 13;
    -fx-alignment: center;
    -fx-font-style: italic;
    -fx-padding: 10 0;
}

.errorLabel2{
    -fx-text-fill: firebrick;
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-padding: 10 0;
}

.formGrid{
    -fx-hgap: 20;
    -fx-vgap: 10;
}

.buttonMain{
    -fx-background-color: #6d8ce8 ;
    -fx-text-fill: white;
}
.buttonMain:hover{
    -fx-background-color: royalblue;
}

.buttonMain:armed{
    -fx-background-color: #214cce;
}

.buttonCancel{
    -fx-background-color: #dddddd;
}
.buttonCancel:hover{
    -fx-background-color: #cccccc;
}

.buttonCancel:armed{
    -fx-background-color: #bbbbbb;
}

.choice-box{
    -fx-background-color: #dddddd;
}
.choice-box:hover{
    -fx-background-color: #cccccc;
}

.tableViewCustomers{
    -fx-min-height: 300;

}

.tableViewCars{
    -fx-min-height: 100;
    -fx-max-height: 300;
}

.tableViewInvoice{
    -fx-min-height: 700;
    -fx-min-width: 800;
}

.tableViewMechanics{
    -fx-min-height: 300;
}

.tabs{
    -fx-background-color: #dddddd;
}

.tabs:hover{
    -fx-background-color: #cccccc;
}

.tabs:selected{
    -fx-background-color: #bbbbbb;
}



